@charset "UTF-8";
.index-form_image_box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 2%;
}
.index-form_image_wrapper {
    flex-direction: column;
    width: 23%;
    margin: 1%;
    text-decoration:none;
    color:black;
}
.index-form_image_attribute {
    width: 100%;

}
